---
// must be at top

import List from '@/layouts/List.astro';
import Anchor from '@/components/astro-remote/Anchor.astro';
import Heading from '@/components/astro-remote/Heading.astro';
import { BOOKMARKS } from '@/constants/data';
import { SELECTORS } from '@/constants/dom';
import { getPageMetadata } from '@/utils/metadata';

const { README_RAW_URL, REPO } = BOOKMARKS;

const readmeContent = await fetch(README_RAW_URL).then((response) => response.text());

const metadata = getPageMetadata('lists/links');

const { GITHUB_MARKDOWN_BODY_ID } = SELECTORS;

import { homePagePostsQuery } from "../libs/wpapi";
import Centered from "../layouts/Centered.astro";

import { getAllNews  } from "../libs/wpapi";
import NewsCardItem from "../components/news/NewsCardItem.astro";
import {ROUTES} from "../constants/routes";
import Link from "../components/Link.astro";
const data = await getAllNews(0, 36);

export const prerender = false;
export const output = "server";

---

<Centered  metadata >
    <article class="px-4 my-prose divide-y divide-gray-400">

        <div class="flex justify-between">
            <h1 class="b-h1">Лента новостей 222</h1>
            <span class="mt-2 md:mt-4">все новости</span>
        </div>



        <div class="divide-y-4">
        <div class="mt-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-3">
            {data.posts.map(post => {

                return (
                        <NewsCardItem post={post}/>
                )
            })}
        </div>

    </article>
</Centered>



<script>
  import { SELECTORS } from '@/constants/dom';
  import { MODES, THEME_CONFIG } from '@/constants/theme';
  import { getCurrentMode } from '@/utils/theme';

  import type { ChangeThemeCustomEvent, Mode } from '@/types/constants';

  const { CHANGE_EVENT } = THEME_CONFIG;
  const { GITHUB_MARKDOWN_BODY_SELECTOR } = SELECTORS;

  const loadGithubTheme = (mode: Mode) => {
    const markdownBodyElement = document.querySelector(GITHUB_MARKDOWN_BODY_SELECTOR);
    if (!markdownBodyElement) return;

    if (markdownBodyElement && mode === MODES.dark)
      markdownBodyElement.setAttribute('data-theme', MODES.dark);
    else markdownBodyElement.setAttribute('data-theme', MODES.light);
  };

  // will run only on page load
  const mode = getCurrentMode();
  loadGithubTheme(mode);

  // will run on button click
  document.addEventListener(CHANGE_EVENT, async (event) => {
    const customEvent = event as ChangeThemeCustomEvent;
    const { mode } = customEvent.detail.theme;

    loadGithubTheme(mode);
  });
</script>
