.infb {
  @apply p-3 bg-lime-100 rounded shadow-md;
}
.infg {
  @apply p-3 bg-yellow-100 rounded shadow-md;
}
.infp {
  @apply p-3 bg-sky-100 rounded shadow-md;
}
.inf {
  @apply p-3 bg-gray-100 rounded shadow-md;
}
.scryt_b {
  @apply p-3 bg-green-100 rounded shadow-md;
}

.prose .rek_internal {
  @apply font-semibold text-red-700;
}

.prose .rek_internal::before {
  content: 'Читайте также:';
  @apply text-neutral-900 bg-slate-100 mr-2 p-1 text-sm;
}
.scryt_b-wrapper {
  .scryt_b-title {
    @apply text-red-700;
  }

  @apply p-3 bg-gray-100 rounded shadow-md border-orange-500;
}

.obnovleno_b-wrapper {
  .obnovleno_b-head {
    @apply mt-0 border-b border-red-800 text-red-800 font-semibold flex items-center gap-2;
  }

  @apply p-3 bg-yellow-100 rounded shadow-md;
}

.tiktok-embed {
  @apply h-[500px];
}

.youtube-embed {
  @apply w-full h-[250px] md:h-[500px];
}

.widget-instagram,
.widget-twitter,
.widget-tiktok,
.widget-telegram {
  @apply flex justify-center;
}

.prose div,
.prose img,
.prose figure,
.prose blockquote,
.prose details {
  margin-bottom: 1.25em;
}

.prose .shortcode p {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.prose table {
  @apply min-w-full;
}

.responsive-table {
  @apply overflow-x-auto;
}
