---
import { Icon } from 'astro-icon/components';


import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import ScrollToTop from '@/components/react/ScrollToTop';
import type {Metadata} from "../types/common";





const { metadata } = Astro.props as Metadata;
---

<html lang="en">
  <BaseHead {metadata} />
  <body class="relative flex flex-col min-h-screen bg-base-100 transition-colors duration-500">
    <Header />
    <slot />
    <Footer />

    <ScrollToTop client:only="react">
      <Icon name="mdi:arrow-up-thin" class="h-10 w-10 text-content hover:text-links-hover" />
    </ScrollToTop>
  </body>
</html>
