---
import { useEffect } from 'react';

import { useUserAgent } from "astro-useragent";
const { source, isMobile } = useUserAgent(Astro.request.headers.get("user-agent"));
import { getNodeByURI, getAllUris } from "libs/wpapi";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>


<title>My Astro website</title>


<p>Source: {source}</p>
{isMobile ? <p>I'm on mobile</p> : <p>I'm on desktop</p>}


</body>
</html>